{% for post in post_list %}
    <h4><a href="{% url 'post' post.id %}">{{ post.header }}</a></h4>
    <p>{{ post.text }}</p>
    <p><i>{{ post.date }}</i></p>
    <p><b>автор: </b> <i>{{ post.user }}</i></p>
    {% if user == post.user %}
        <a href="{% url 'delete_post' post.id %}">удалить</a>
    {% else %}
        {% if post not in user.viewed.posts.all %}
            <p><a href="{% url 'viewed_post' post.id %}">прочитал</a></p>
        {% else %}
            <p><b><i>прочитано (<a href="{% url 'unviewed_post' post.id %}">отменить</a>)</i></b></p>
        {% endif %}
    {% endif %}
    <hr>
{% endfor %}
