<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Блог {% endblock %}</title>
</head>
<body>

{% if user.is_authenticated %}
    <p>Добро пожаловать: <b>{{ user }}</b> (<a href="{% url 'logout' %}">Выйти</a>) |
        <a href="{% url 'lenta' %}">моя лента</a> |
        <a href="#">создать пост</a> |
        <a href="{% url 'users' %}">блоги</a>
    </p>
{% else %}
    <p><a href="{% url 'login' %}">Войти</a></p>
{% endif %}

<hr>

{% block content %}{% endblock %}

</body>
</html>