{% extends 'blog/base.html' %}
{% block title %} Список пользователей {% endblock %}
{% block content %}
    <h3>Вы подписаны на блоги следующих пользователей:</h3>
    <ol>
        {% for user in user_list %}
            <li>
                <a href="{% url 'user' user.username %}">{{ user }}</a>
                (<i><a href="{% url 'unsubscribe' user.username %}">отписаться</a></i>) |
                кол-во постов: {{ user.post_set.count }}
            </li>
        {% endfor %}
    </ol>
{% endblock %}
