{% extends 'blog/base.html' %}
{% block title %} Список пользователей {% endblock %}
{% block content %}
    <h3>Доступны блоги следующих пользователей:</h3>
    <ol>
        {% for user in user_list %}
            <li>
                <a href="{% url 'user' user.username %}">{{ user }}</a>
                {% if request.user.is_authenticated %}
                    {% if user not in request.user.subscription.follows_to.all  %}
                        (<a href="{% url 'subscribe' user.username %}"><i>подписаться</i></a>)
                    {% else %}
                        (<i>вы подписаны</i>)
                    {% endif %}
                {% endif %}
                | кол-во постов: {{ user.post_set.count }}
            </li>
        {% endfor %}
    </ol>
{% endblock %}
